<!--The content below is only a placeholder and can be replaced.-->
<div id="app__container">
  <div id="app__card-container">
    <app-filter [config]="config" [numOfCardsInDeck]="cardsInDeck" (configUpdate)="onConfigUpdate($event)"></app-filter>
    <div id="app__hand-container">
      <h3> Your Hand: </h3>
      <div>
        <div *ngFor="let card of hand">
          <app-card [value]="card.value" [suit]="card.suit"> </app-card>
        </div>
      </div>
    </div>
  </div>

  <div id="app__button-container">
    <button [disabled]="error" (click)="drawCards()"> Draw Cards </button>
    <button [disabled]="error" (click)="shuffleDeck()"> Shuffle Deck </button>
  </div>
</div>





